{% extends 'base.html' %}

{% block body %}
<title>Intel Mesa CI machines</title>
<h1>Test machines used by this server:</h1>
<div class="content">
  <h2>Machines</h2>
  <form>
    Filter machines:
    <input type="text" style="min-width: 40em" name="machinefilter" value="{{ machinefilter if machinefilter else '' }}">
    <br>
    <p style="font-size: .8em"><i>Multiple terms to search for can be specified, separated with spaces. Example: <b>bdw &nbsp; tgl &nbsp; iris &nbsp; bsw</b></i></p>
  </form>
  <table style="width:100%">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr>
      {% set sort_col = sort_prefs['machines'].split(':') %}
      <th
        {% if sort_col[0] == 'machine' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=machine&sort_section=machines' }}">Name</a>
      </th>
      <th
        {% if sort_col[0] == 'last_build' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=last_build&sort_section=machines' }}">Last Build Time</a>
      </th>
      <th
        {% if sort_col[0] == 'last_fail' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=last_fail&sort_section=machines' }}">Last Failed Build Time</a>
      </th>
      <th
        {% if sort_col[0] == 'last_fail_component_id' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=last_fail_component_id&sort_section=machines' }}">Last Failed Build</a>
      </th>
    </tr>
    {% if machines %}
    {% for machine in machines %}
    <tr>
      <td><a href="../machine_history/{{ machine['machine'] }}">{{ machine['machine'] }}</a></td>
      <td><a>{{ machine['last_build'] | localtzfilter }}</a></td>
      <td><a>{{ machine['last_fail'] | localtzfilter }}</a></td>
      <td><a href="{{ machine['url'] }}">{{ machine['last_fail_component_id'] }}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
</div>


{% endblock %}
