{% extends 'base.html' %}

{% block body %}
<title>Intel Mesa CI machine history</title>
<h1>Builds by machines matching {{ machine }}:</h1>
<div class="content">
  <h2>Builds</h2>
  <form>
    Filter rows:
    <input type="text" style="min-width: 40em" name="rowfilter" value="{{ rowfilter if rowfilter else '' }}">
    <br>
    <p style="font-size: .8em"><i>Multiple terms to search for can be specified, separated with spaces. Example: <b>bdw unstable main</b></i></p>
  </form>
  <table style="width:100%">
    <colgroup>
      <col style="width: 8%"/>
      <col style="width: 12%"/>
      <col style="width: 12%"/>
      <col style="width: 8%"/>
      <col style="width: 8%"/>
      <col style="width: 12%"/>
      <col style="width: 12%"/>
      <col style="width: 8%"/>
      <col style="width: 8%"/>
      <col style="width: 12%"/>
    </colgroup>
    <tr>
      {% set sort_col = sort_prefs['machine_history'].split(':') %}
      <th
        {% if sort_col[0] == 'component_id' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&&sort_col=component_id' }}">Id</a>
      </th>
      <th
        {% if sort_col[0] == 'component_name' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=component_name' }}">Component</a>
      </th>
      <th
        {% if sort_col[0] == 'job_name' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=job_name' }}">Scheduler</a>
      </th>
      <th
        {% if sort_col[0] == 'shard' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=shard' }}">Shard</a>
      </th>
      <th
        {% if sort_col[0] == 'status' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=status' }}">Status</a>
      </th>
      <th
        {% if sort_col[0] == 'start_time' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=start_time' }}">Start</a>
      </th>
      <th
        {% if sort_col[0] == 'end_time' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=end_time' }}">End</a>
      </th>
      <th
        {% if sort_col[0] == 'duration' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=duration' }}">Duration</a>
      </th>
      <th
        {% if sort_col[0] == 'arch' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=arch' }}">Arch</a>
      </th>
      <th
        {% if sort_col[0] == 'machine' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_section=machine_history&sort_col=machine' }}">Machine</a>
      </th>
    </tr>
    {% if components %}
    {% for component in components %}
    {% set status=component['status'] %}
    <tr>
      <td class="{{ status }}"><a href="{{ component['url'] }}/">{{ component['component_id'] }}</a></td>
      <td class="{{ status }}"><a>{{ component['component_name'] }}</a></td>
      <td class="{{ status }}"><a>{{ component['job_name'] }} #{{ component['job_id'] }}</a></td>
      <td class="{{ status }}"><a>{{ component['shard'] }}</a></td>
      <td class="{{ status }}"><a>{{ status }}</a></td>
      <td class="{{ status }}"><a>{{ component['start_time'] | localtzfilter }}</a></td>
      <td class="{{ status }}"><a>{{ component['end_time'] | localtzfilter }}</a></td>
      <td class="{{ status }}"><a>{{ component['duration'] }}</a></td>
      <td class="{{ status }}"><a>{{ component['arch'] }}</a></td>
      <td class="{{ status }}"><a>{{ component['machine'] }}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
</div>


{% endblock %}
