{% extends 'base.html' %}

{% block body %}
<div id="header">
  <h1>tests matching for {{ test_string }}:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div id="content">
  <div class="section">
  <table style="width:100%">
    <colgroup>
      <col/>
    </colgroup>
    <tr>
      <th>Test Name</th>
      {% if platform_name %}
      <th style="width:100px">Arch</th>
      {% endif %}
    </tr>
    {% for result in results %}
    <tr>
      <td>
	<a
	  {% if platform_name %}
	    href="{{ url_for('list_platform_stats', job=job, build_id=build_id, group_id=result['test_id'], platform_name=platform_name) }}"
	  {% else %}
	    href="{{ url_for('list_fails', job=job, build_id=build_id, group_id=result['test_id']) }}"
	  {% endif %}
	  >{{ result["test_name"] }}</a>
      </td>
      {% if platform_name %}
      <td>
	{{ result["arch"] }}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <div style="text-align: center">
    <br>
    <a style="padding-right:2em; visibility: {{ 'block' if results else 'hidden' }}" href="{{ request.path + '?q=' + test_string + '&page=' + prev_grp }}">< Previous</a>
    <a style="padding-left:2em; visibility: {{ 'block' if results else 'hidden' }}" href="{{ request.path + '?q=' + test_string + '&page=' + next_grp }}">Next > </a>
    <br>
    <br>
  </div>
  </div>
</div>
{% endblock %}
